In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")

In [2]:
#importing the data
Transactions=pd.read_excel("KPMG_Task1.xlsx",sheet_name='Transactions')
NewCustomerList=pd.read_excel("KPMG_Task1.xlsx",sheet_name='NewCustomerList')
CustomerDemographic=pd.read_excel("KPMG_Task1.xlsx",sheet_name='CustomerDemographic')
CustomerAddress=pd.read_excel("KPMG_Task1.xlsx",sheet_name='CustomerAddress')

In [3]:
#WORKING WITH THE TRANSACTION TABLE

In [4]:
Transactions.head(2)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0

In [5]:
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [6]:
#checking for null values
Transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [7]:
#after checking all the missing values we have decided to drop those values
Transactions.dropna(inplace=True)

In [8]:
#checking for duplicated columns
Transactions.duplicated().sum()

0

In [9]:
Transactions['online_order'].value_counts()

1.0    9739
0.0    9706
Name: online_order, dtype: int64

In [10]:
Transactions['order_status'].value_counts()

Approved     19273
Cancelled      172
Name: order_status, dtype: int64

In [11]:
Transactions['brand'].value_counts()

Solex             4169
WeareA2B          3245
Giant Bicycles    3244
OHM Cycles        2993
Trek Bicycles     2931
Norco Bicycles    2863
Name: brand, dtype: int64

In [12]:
Transactions['product_line'].value_counts()

Standard    13920
Road         3894
Touring      1213
Mountain      418
Name: product_line, dtype: int64

In [13]:
Transactions['product_class'].value_counts()

medium    13587
high       2952
low        2906
Name: product_class, dtype: int64

In [14]:
Transactions['product_size'].value_counts()

medium    12767
large      3900
small      2778
Name: product_size, dtype: int64

In [15]:
Transactions['list_price'].value_counts()

2091.47    460
1403.50    389
71.49      269
1231.15    232
1890.39    230
          ...
1172.78    153
358.39     138
1227.34    126
202.62     123
1036.59    111
Name: list_price, Length: 100, dtype: int64

In [16]:
Transactions['standard_cost'].value_counts()

388.920000    460
954.820000    389
53.620000     269
161.600000    232
260.140000    230
             ...
151.960000    123
206.350000    111
312.735016      1
270.299988      1
667.400024      1
Name: standard_cost, Length: 103, dtype: int64

In [17]:
Transactions['product_first_sold_date'].value_counts()

33879.0    230
41064.0    223
37823.0    221
39880.0    220
38216.0    217
          ...
41848.0    168
42404.0    167
41922.0    163
37659.0    161
34586.0    159
Name: product_first_sold_date, Length: 100, dtype: int64

In [18]:
#changing the product_first_sold_date to date time
Transactions['product_first_sold_date']=pd.to_datetime(Transactions['product_first_sold_date'] ,unit='s')

In [19]:
Transactions['product_first_sold_date']

0       1970-01-01 11:27:25
1       1970-01-01 11:35:01
2       1970-01-01 10:06:01
3       1970-01-01 10:02:25
4       1970-01-01 11:43:46
                ...
19995   1970-01-01 10:30:23
19996   1970-01-01 09:52:40
19997   1970-01-01 11:13:30
19998   1970-01-01 10:36:56
19999   1970-01-01 10:05:34
Name: product_first_sold_date, Length: 19445, dtype: datetime64[ns]

The integers in the date columns are not correct as it shows everything happening the same day at different times. We would need to refer back to the author of the data to seek more clasrification on how the data was collected.

In [20]:
#WORKIG WITH NewCustomerList

In [21]:
NewCustomerList.head(2)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,0.48,0.60,0.7500,0.637500,1,1,1.71875
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,0.65,0.65,0.8125,0.690625,1,1,1.71875

In [22]:
NewCustomerList.shape

(1000, 23)

In [23]:
NewCustomerList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [24]:
#Dropping the unnamed columns
NewCustomerList.drop(['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18','Unnamed: 19', 'Unnamed: 20'], axis=1, inplace=True)

In [25]:
#checking the new shape
NewCustomerList.shape

(1000, 18)

In [26]:
#checking for null values
NewCustomerList.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

In [27]:
#Dropping the null values
NewCustomerList.dropna(inplace=True)

In [28]:
NewCustomerList.isnull().sum()

first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
address                                0
postcode                               0
state                                  0
country                                0
property_valuation                     0
Rank                                   0
Value                                  0
dtype: int64

In [29]:
#Checking for duplicate values
NewCustomerList.duplicated().sum()

0

In [30]:
NewCustomerList['gender'].value_counts()

Female    369
Male      346
Name: gender, dtype: int64

In [35]:
NewCustomerList['job_industry_category'].value_counts()

Financial Services    182
Manufacturing         171
Health                135
Retail                 73
Property               49
Entertainment          32
IT                     29
Argiculture            23
Telecommunications     21
Name: job_industry_category, dtype: int64

In [36]:
NewCustomerList['wealth_segment'].value_counts()

Mass Customer        362
High Net Worth       180
Affluent Customer    173
Name: wealth_segment, dtype: int64

In [37]:
NewCustomerList['state'].value_counts()

NSW    352
VIC    197
QLD    166
Name: state, dtype: int64

In [38]:
NewCustomerList['owns_car'].value_counts()

No     366
Yes    349
Name: owns_car, dtype: int64

In [39]:
#WORKING WITH CustomerDemographic :-

In [40]:
CustomerDemographic.head(2)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1.0,Laraine,Medendorp,F,93.0,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2.0,Eli,Bockman,Male,81.0,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0

In [41]:
CustomerDemographic.shape

(4000, 13)

In [42]:
CustomerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3999 non-null   float64
 1   first_name                           3999 non-null   object
 2   last_name                            3874 non-null   object
 3   gender                               3999 non-null   object
 4   past_3_years_bike_related_purchases  3999 non-null   float64
 5   DOB                                  3912 non-null   datetime64[ns]
 6   job_title                            3493 non-null   object
 7   job_industry_category                3343 non-null   object
 8   wealth_segment                       3999 non-null   object
 9   deceased_indicator                   3999 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             3999 non-null   object
 12  tenure                               3912 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 406.4+ KB

In [43]:
#checking for nul vaues
CustomerDemographic.isnull().sum()

customer_id                              1
first_name                               1
last_name                              126
gender                                   1
past_3_years_bike_related_purchases      1
DOB                                     88
job_title                              507
job_industry_category                  657
wealth_segment                           1
deceased_indicator                       1
default                                302
owns_car                                 1
tenure                                  88
dtype: int64

In [44]:
#dropping the null values
CustomerDemographic.dropna(inplace=True)

In [45]:
#Checking for duplicate data
CustomerDemographic.duplicated().sum()

0

In [47]:
#Gender Column
CustomerDemographic['gender'].value_counts()

Female    1366
Male      1262
F            1
Femal        1
Name: gender, dtype: int64

In [50]:
#treating the gender column with renaming the names correcty
CustomerDemographic['gender'] = CustomerDemographic['gender'].replace('F','Female').replace('M','Male').replace('Femal','Female')

In [51]:
CustomerDemographic['gender'].value_counts()

Female    1368
Male      1262
Name: gender, dtype: int64

In [53]:
#job_title
CustomerDemographic['job_title'].value_counts()

Social Worker                   38
Sales Representative            36
Chemical Engineer               34
Dental Hygienist                34
Registered Nurse                33
                                ..
Database Administrator I         2
Human Resources Assistant IV     2
Research Assistant III           2
Database Administrator II        1
Developer I                      1
Name: job_title, Length: 195, dtype: int64

In [54]:
#job_industry_category
CustomerDemographic['job_industry_category'].value_counts()

Manufacturing         635
Financial Services    626
Health                496
Retail                278
Property              222
IT                    119
Entertainment         110
Argiculture            91
Telecommunications     53
Name: job_industry_category, dtype: int64

In [55]:
#wealth_segment
CustomerDemographic['wealth_segment'].value_counts()

Mass Customer        1300
High Net Worth        674
Affluent Customer     656
Name: wealth_segment, dtype: int64

In [56]:
#deceased_indicator
CustomerDemographic['deceased_indicator'].value_counts()

N    2628
Y       2
Name: deceased_indicator, dtype: int64

In [57]:
#default
CustomerDemographic['default'].value_counts()

1                                   87
-1                                  75
100                                 72
-100                                67
ï½ï½¨(Â´âï½â©                       45
                                    ..
ç¤¾æç§å­¸é¢èªå­¸ç ç©¶æ              20
(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»)             20
ð¾ ð ð ð ð ð ð ð                    20
âªâªtestâª                          20
,ãã»:*:ã»ãâ( â» Ï â» )ãã»:*:ã»ãâ    16
Name: default, Length: 90, dtype: int64

In [58]:
#The values in default columns  are inconsistent, hence dropping the column
CustomerDemographic = CustomerDemographic.drop('default', axis=1)

In [59]:
#owns_car
CustomerDemographic['owns_car'].value_counts()

Yes    1361
No     1269
Name: owns_car, dtype: int64

In [60]:
#tenure
CustomerDemographic['tenure'].value_counts()

7.0     157
5.0     155
12.0    154
16.0    148
8.0     147
10.0    143
9.0     141
18.0    140
11.0    137
6.0     135
14.0    130
13.0    122
4.0     122
17.0    116
3.0     111
19.0    110
15.0    107
1.0     106
2.0     102
20.0     67
21.0     40
22.0     40
Name: tenure, dtype: int64

In [61]:
#WORKING WITH CustomerAddress TABLE

In [62]:
CustomerAddress.head(2)

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10

In [63]:
CustomerAddress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [64]:
#checking for null values
CustomerAddress.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [65]:
#Checking for duplicated columns
CustomerAddress.duplicated().sum()

0

In [66]:
#postcode
CustomerAddress['postcode'].value_counts()

2170    31
2155    30
2145    30
2153    29
3977    26
        ..
3808     1
3114     1
4721     1
4799     1
3089     1
Name: postcode, Length: 873, dtype: int64

In [67]:
#state
CustomerAddress['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [68]:
#country
CustomerAddress['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [69]:
#property_valuation
CustomerAddress['property_valuation'].value_counts()

9     647
8     646
10    577
7     493
11    281
6     238
5     225
4     214
12    195
3     186
1     154
2     143
Name: property_valuation, dtype: int64